.game-root {
    -fx-background-image: url("/application/labyrinth/assets/Images/backgroundBlue.jpg");

    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}